.sponsor-container {
  background-color: #000;
}
.sponsor-list {
  text-align: left;
  min-height: 120px;
  padding: 20px 0 40px 0;
}

.sponsor-list h2{
  text-align: center;
  font-size: 26px;
  display: block;
  font-family: "News Cycle","Arial Narrow Bold",sans-serif;
  font-weight: bold;
  color: #fff;
}
